<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Suite Bank</title>
</head>
<body>
    <h1 align="center">Welcom in our Credit Suite Bank</h1>
    <div>
        <h3>Get Credit Form:</h3>
        <form th:action="@{/getcredit}">
            <button type="submit">Get Credit</button>
        </form>
    </div>
    <img src="https://thumbs.dreamstime.com/z/kredytowego-biura-tekst-na-round-prostym-znaczka-znaku-90725812.jpg">
</body>
</html>